.create-recipe form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.create-recipe button {
    margin-top: 1em;
    grid-column: -2;
}

.error-text {
    grid-column: span 2;
    margin: 0;
    color: red;
    font-size: 0.8rem;
}